{% extends 'base.html' %}
{% load static %}

{% block estilos %} <link rel="stylesheet" href="{% static 'css/gestion_datos.css' %}"> {% endblock %}

{% block cuerpo %}
    <section class="hero">
        <div id="texto-wrap">
            <h1>ADMINISTRADOR</h1>
        </div>
    </section>

    <div id="divisionIzquierda">
        <nav class="navegacionDirector">
            <a class="linksNavegacion" href="{% url 'listar_clientes' %}">GESTION CLIENTES</a>
            <a class="linksNavegacion" href="{% url 'listar_eventos' %}">GESTION DE EVENTOS</a>
            <a class="linksNavegacion" href="{% url 'listar_facturas' %}">FACTURAS</a>
            <a id="actual" class="linksNavegacion" href="{% url 'listar_detalle_facturas' %}">DETALLE FACTURAS</a>
            &nbsp; &nbsp; &nbsp;
            {% if factura %}
                <a class="linksNavegacion" href="{% url 'eventos_comprados' %}">EVENTOS COMPRADOS</a>
            {% endif %}
            {% if servicios %}
                <a class="linksNavegacion" href="{% url 'gestion_evento' %}">GESTION DE TUS EVENTOS</a>
            {% endif %}
        </nav>
    </div>

    <h2 class="titulosCliente">DETALLE FACTURAS</h2>

    {% if messages %}
        <div class="mensajes">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {% endif %}
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
                </div>
            {% endfor %}
        </div>    
    {% endif %}


    
    {% if detalle_facturas %}
    
    <div class="informacion">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Precio UNI.</th>
                        <th scope="col">Comision</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total sin Com.</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Factura</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle_factura in detalle_facturas %}
                        <tr>
                            <td>{{ detalle_factura.id }}</td>
                            <td>{{ detalle_factura.precioUnitario }}</td>
                            <td>{{ detalle_factura.precioComision }}</td>
                            <td>{{ detalle_factura.cantidad }}</td>
                            <td>{{ detalle_factura.totalNoComision }}</td>
                            <td>{{ detalle_factura.subtotal }}</td>
                            <td>{{ detalle_factura.idServicio.titulo }}</td>
                            <td>{{ detalle_factura.idFactura.id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p>No hay datos aun...</p>
    {% endif %}

{% endblock %}